* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *, *::before, *::after {
}
html, body {
    height: 100%;
    line-height: 100%;
}
body {
    min-width: 320px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
} */